<section>
  <h1>Rezultate Chestionar</h1>
  <br />
  <p style="font-size: x-large">
    În urma finalizării chestionarului, ați răspuns la ...
  </p>
  <p style="font-size: x-large">
    <%= rezultat %> întrebări corecte din totalul de <%= total %>
  </p>
</section>
